@import "tailwindcss";
@import "@heroui/styles";

:root {
  /** Light theme
    * xx: x-400
    * xx-background: xx-50
    * on-xx-background: xx-900
    * primary: fuchsia, secondary: amber
    * https://tailwindcss.com/docs/colors
    */
  &.light,
  [data-theme="light"] {
    color-scheme: light;
    --accent: oklch(71.8% 0.202 349.761);
    --accent-background: oklch(90.5% 0.12 346.018);
    --on-accent-background: oklch(40.1% 0.17 325.612);
    --secondary: oklch(87.9% 0.169 91.605);
    --secondary-background: oklch(98.7% 0.022 95.277);
    --on-secondary-background: oklch(41.4% 0.112 45.904);
  }

  /** Dark theme
    * xx: x-800
    * xx-background: xx-950/900
    * on-xx-background: xx-50 
    * primary: violet, secondary: blue
    */
  &.dark,
  [data-theme="dark"] {
    color-scheme: dark;
    --accent: oklch(38% 0.189 293.745);
    --accent-background: oklch(38% 0.189 293.745);
    --on-accent-background: oklch(96.9% 0.016 293.756);
    --secondary: oklch(42.4% 0.199 265.638);
    --secondary-background: oklch(18.2% 0.091 267.935);
    --on-secondary-background: oklch(97% 0.014 254.604);
    --separator: linear-gradient(
      to right,
      oklch(18.2% 0.091 267.935) 0%,
      oklch(18.2% 0.091 267.935) 50%,
      oklch(42.4% 0.199 265.638) 50%,
      oklch(42.4% 0.199 265.638) 100%
    );
  }

  --nextui-content1: transparent;
  --decorative-gradient: linear-gradient(
    to bottom right,
    var(--secondary-background),
    var(--accent-background)
  );
}

body {
  font-family: "Inter";
}

.site-card {
  border-color: var(--secondary);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  padding: 1.5rem;
}

.pretty-chips {
  color: var(--on-secondary-background);
  background: transparent;
  border: 1px solid var(--accent);
  &:hover {
    /* @apply shadow-pink-500/30; */
  }
}

.skill-card {
  height: 260px;
}

.item-icon {
  font-size: 3em !important;
}
