@import "tailwindcss";
@import "@heroui/styles";

:root {
  /** Themes
    * xx: x-300
    * xx-background: xx-50
    * on-xx-background: xx-900
    */

  /** Light theme
    * https://tailwindcss.com/docs/colors
    * primary: amber, secondary: fuchsia
    */
  &.light,
  [data-theme="light"] {
    --primary: oklch(87.9% 0.169 91.605);
    --primary-background: oklch(98.7% 0.022 95.277);
    --on-primary-background: oklch(41.4% 0.112 45.904);
    --secondary: oklch(82.3% 0.12 346.018);
    --secondary-background: oklch(90.5% 0.12 346.018);
    --on-secondary-background: oklch(40.1% 0.17 325.612);
  }

  /* Dark theme */
  &.dark,
  [data-theme="dark"] {
    --primary: hsl(var(--nextui-primary-400));
    --primary-background: hsl(var(--nextui-primary-100));
    --on-primary-background: hsl(var(--nextui-primary-900));
    --secondary: hsl(var(--nextui-secondary-400));
    --secondary-background: hsl(var(--nextui-secondary-100));
    --on-secondary-background: hsl(var(--nextui-secondary-900));
  }

  --nextui-content1: transparent;
  --decorative-gradient: linear-gradient(
    to bottom right,
    var(--primary-background),
    var(--secondary)
  );
}

body {
  font-family: "Inter";
}

.site-card {
  border-color: var(--secondary);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  padding: 1.5rem;
}

.pretty-chips {
  color: var(--on-primary-background);
  background: transparent;
  border: 1px solid var(--secondary);
  &:hover {
    /* @apply shadow-pink-500/30; */
  }
}

.skill-card {
  height: 260px;
}

.item-icon {
  font-size: 3em !important;
}
